---
import HeadCommon from "@/components/HeadCommon.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
<HeadCommon />
</head>
<body class="flex flex-col items-center justify-center min-h-screen p-4">
  <slot />
</body>
</html>
